:root {
    --main-color: #3498db;
    --secondary-color: #39db34;
    --navy: #163440;
    --sky: #75BAB2;
    --beige: #F6E5B8;
    --yellow: #EDBF71;
    --orange: #D27151;
}

/** Glob  */

.toolbar-button {
    position: absolute;
}

ion-tab-bar {
    --border: 0.2rem solid var(--navy);
}

/** Profile  */

.profile-icon {
    position: absolute;
    right: 0;
    top: 0,
}

/** Landing page  */
.landing-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(40%);
}

.landing-button {
    margin-top: 3rem;
}

.landing-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landing-icon {
    width: 6rem;
    height: auto;
}

.footer-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/** Login */

@keyframes LoginAnimation {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background: var(--beige);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 0 3rem 0;
    animation: LoginAnimation 0.5s ease-in;
}

.login-input {
    border-radius: 3rem;
    margin: 0rem;
    overflow: hidden;
    height: 3.5rem;

    font-size: 1.5rem;
    --background: var(--yellow);
    --color: var(--orange);
    --placeholder-color: var(--orange);
    --placeholder-opacity: 0.8;
}

.login-input-label {
    color: var(--orange);
    margin-left: 1rem;
    text-align: left;
}

.login-title-container {
    margin-bottom: 2.5rem;
}

.login-input-container {
    margin-bottom: 3rem;
}

.login-button {
    margin-top: 3.5rem;
}


/** Subscription  */

.subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.8rem;
    padding: 1rem;
    min-height: 10rem;
    border-radius: 3rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.subscription-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    border: 0.5rem var(--secondary-color) solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subscription-price-container .inner {
    height: 7rem;
    width: 7rem;
    border: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/** Payment */

.payment-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(50%);
}

.payment-input-label {
    color: var(--orange);
    text-align: center;
    /* margin-left: 1rem; */
}

.payment-input {
    border-radius: 1rem;
    margin: 0rem;
    overflow: hidden;
    height: 3.5rem;

    font-size: 1.5rem;
    --background: var(--beige);
    --color: var(--orange);
    --placeholder-color: var(--orange);
    --placeholder-opacity: 0.8;
}

.payment-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

/** Category */

.category-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(20%);
}

.category-footer-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

/** src/components/CardContainer.css */
.tabs-card {
    margin: 0;
    border: 0.1rem solid var(--navy);
}

.tabs-card-header {
    padding: 0.5rem;
}

.tabs-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
    margin: 0;
}

.card-image-container {
    /* height: 200px; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.7s ease-in-out;
}

.fade-in .delay {
    animation: fadeIn 1.5s ease-in-out;
}

/** src/pages/CardDetail.css */

.detail-content-container {
    width: 100%;
    height: 100%;

    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background: var(--beige);
    text-align: left;
    color: var(--navy);
    padding: 2rem 1rem 3rem 1rem;
    animation: LoginAnimation 0.5s ease-in;
}

.detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    width: 100%;
    height: fit-content;
    border: 0.3rem var(--beige) solid;
    border-radius: 1rem;
    overflow: hidden;
}

/** Profile  */

.profile-img-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

    color: #373737;
}

.profile-input-label {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    justify-content: space-between;
}

.profile-links {
    display: flex;
    text-align: center;
    justify-content: center;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.profile-img-label {
    color: var(--sky);
}

.profile-data-container {
    width: 100%;

    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background: var(--beige);
    text-align: center;
    padding: 2rem 0 3rem 0;
    animation: LoginAnimation 0.5s ease-in;
}

.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** Contact  */
.content-title {
    margin-bottom: 3rem;
}

.content-page {
    padding: 0 3.5rem;
}

.contact-button {
    margin-top: 1rem;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.content-text {
    width: 90%;
}

/** About  */

.about-content {
    color: var(--beige);
    padding: 0 2.5rem;
}