/** Landing page  */
.landing-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-110%);
}

.landing-button {
    margin-top: 3rem;
}

.landing-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landing-icon {
    width: 6rem;
    height: auto;
}

.landing-footer-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

/** src/components/CardContainer.css */
.card {
    margin: 0;
}

.card-image-container {
    /* height: 200px; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.7s ease-in-out;
}

.fade-in .delay {
    animation: fadeIn 1.5s ease-in-out;
}

/** src/pages/Login.css */

.login-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.modal-wrapper {
    background: transparent !important;
}

ion-note {
    display: block;
}

/** src/pages/CardDetail.css */

.video-container {
    width: 100%;
    height: auto;
}

.profile-img-container {
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.profile-img {
    width: 200px;
    height: 200px;
}